<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoSave | NOT FOUND</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/pageNotFound.css">
</head>
<body>
    <section id="landingSection">
        <div class="container landingSectionContainer">
          <header class="landingSectionContainer--header">
            <div class="landingSectionContainer--headerLogo">
              <img src="/images/PhotosaveLogo.gif" alt="logo" />
            </div>
            <div class="landingSectionContainer--loginSignup">
              <a class="loginButton" href="/login">Login</a>
              <a class="btn btn-warning signupButton" href="/signup">Signup</a>
            </div>
          </header>
          <div class="message">
            <h1>404</h1>
            <h3>PAGE NOT FOUND</h3>
          </div>
        </div>
      </section>
</body>
</html>