<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup | PhotoSave</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon//favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon//favicon-16x16.png">
    <link rel="manifest" href="/images/favicon//site.webmanifest">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/loginSignin.css">
</head>
<body>
    <div id="signup">
        <div class="container signupContainer">
            <div class="row signupContainer--row">
                <div class="col-lg-4 signupForm">
                    <header class="signupContainer--rowHeader">
                        <div class="signupContainer--rowHeaderLogo">
                          <img src="/images/PhotosaveLogo.gif" alt="logo" />
                        </div>
                    </header>
                    <h1>Create your account</h1>
                    <form action="/signup" method="POST" onsubmit="return signupValidate(event)">
                        <div class="formFields" id="signupEmailContainer">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" placeholder="Enter email" id="signupEmail" name="email" autocomplete="off" required >
                            <p id="signupEmailContainerAlert" class="signupAlert"></p>
                        </div>
                        <div class="formFields" id="signupNameContainer">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" type="text" placeholder="Enter name" id="signupName" name="name" autocomplete="off" required >
                            <p id="signupNameContainerAlert" class="signupAlert"></p>
                        </div>
                        <div class="formFields" id="signupUsernameContainer">
                            <label class="form-label" for="username">UserName</label>
                            <input class="form-control" type="text" placeholder="Enter username" id="signupUsername" name="username" autocomplete="off" required >
                            <p id="signupUsernameContainerAlert" class="signupAlert"></p>
                        </div>
                        <div class="formFields" id="signupPasswordContainer">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" placeholder="Enter password" id="signupPassword" name="password" autocomplete="off" required >
                            <p id="signupPasswordContainerAlert" class="signupAlert"></p>
                        </div>
                        <div class="formSubmit" >
                            <button type="submit" class="btn btn-dark">Signup</button>
                            <p>Have an account? <a href="/login">Login</a></p>
                        </div>
                    </form>
                </div>
                <div class="col-lg-8 signupBackground">

                </div>
            </div>
        </div>
    </div>
    <script src="javascript/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>