@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400&family=Josefin+Sans:wght@400;700&display=swap");

* {
  font-family: "Heebo", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif !important;
  font-weight: 600 !important;
}

#landingSection {
  height: 100vh;
  position: relative;
}

.landingSectionContainer {
  height: inherit;
  display: flex;
  flex-direction: column;
}

.landingSectionContainer--header {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.landingSectionContainer--headerLogo > img {
  height: 80px;
  width: 200px;
  object-fit: contain;
}

.landingSectionContainer--loginSignup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
}

.landingSectionContainer--loginSignup > a {
  height: 40px;
}

.loginButton {
  padding: 6px 12px;
  text-decoration: none;
  color: #000000;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.loginButton:hover {
  color: #ffc107;
}

.signupButton:hover {
  color: #ffffff;
}

.message {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: max-content;
  margin-top: auto;
  margin-bottom: auto;
}

.message > h1 {
  color: #ffc107;
  font-size: 3.75rem;
  font-weight: bolder;
}

.message > a {
  width: fit-content;
}
